@model Birth

<form asp-controller="Birth" asp-action="BirthResult" method="post">
    <div>
        <label for="Name">Imię:</label>
        <input type="text" id="Name" name="Name" />
    </div>
    <div>
        <label for="Date">Data urodzenia:</label>
        <input type="date" id="Date" name="Date" />
    </div>
    <button type="submit">Prześlij</button>
</form>
