@model Lab3zadanie.Models.Album

<h1>Are you sure you want to delete the album: @Model.Title?</h1>

<form asp-controller="Album" asp-action="Delete" method="post">
    <input type="hidden" asp-for="AlbumId" />
    <button class="btn btn-danger" type="submit">Yes, Delete Album</button>
</form>
<a class="btn btn-primary" asp-action="Index">No, Go Back</a>
