@model Lab3zadanie.Models.Song

@{
    Layout = "_Layout";
}

<h2>Add Song</h2>

<form asp-action="Create" asp-controller="Songs" method="post">
    <input type="hidden" asp-for="AlbumId" />

    <div class="form-group">
        <label asp-for="Title"></label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Duration"></label>
        <input asp-for="Duration" class="form-control" />
        <span asp-validation-for="Duration" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Add</button>
</form>
<a class="btn btn-primary" asp-controller="Songs" asp-action="Index" asp-route-id="@Model.AlbumId">Back</a>
